/* Réglages généraux*/
body {
	margin: 0px;
	font-family: Arial, sans-serif;
    font-size: 16px;
	color: #4c4643;
	min-height: 100vh;
	margin: auto;
	width: 100%;
}

/* Réglages du header, contenant nom du site et barre de recherche*/
header {
	background-color: rgb(90,94,107);
	padding: 1%;
	color: rgb(158,158,158);
}
header h1, #recherche{
	display: inline-block;

}
header a:link {
	color: rgb(158,158,158);
}
header a:visited {
	color: rgb(158,158,158);	
}
header a:hover {
	color: rgb(121,128,129);
}

#recherche{
	float: right;
	width: 40%;
}
#barre {
	padding: 1px 0 1px 0;
	width: 80%;
	border: 6px solid white;
	border-right: none;
}
#loupe {
	font-style: italic;
	font-weight: bold;
	background-color: rgb(204,85,0);
	color: white;
	border: none;
	width: 10%;
	height: 30px;
}

/* Réglages du footer contenant info, mentions et copyright */
footer {
	background-color: rgb(90,94,107);
	padding: 1%;
	color: rgb(158,158,158);
	font-weight: bold;
}
footer p {
	margin: 0.5px;
	font-size: 15px;
}

#info, #mentions, #copyright {
	display: inline-block;
	vertical-align: bottom;
}
#info {
	width: 32%;
	text-align: left;
}
#mentions {
	width: 32%;
	color: rgb(64, 165, 181);
	text-align: center;
}
#copyright {
	width: 32%;
	text-align: right;
}

/* Réglages du menu, contenant les titres des catégories */
#listeCat
{
	margin: 1px;
}
#listeCat p {
	margin: 0px;
}
.bouton {
	padding: 6px 2px 6px 2px;
	font-size: 15px;
	font-weight: bold;
	background-color: rgb(90,94,107);
	color: rgb(64, 165, 181);
	border-radius: 2px;
	border: none;
}

ul,li{
	list-style-type: none;
}
li {
	display: inline-block;
	text-align: center;
	width: 20%;
}

#containerListeCat {
	background-color: rgb(90,94,107);
	text-align: center;
	box-shadow: 2px 2px 2px 2px rgb(90,94,107);
}

/* Réglages du bloc central */
#whiteBox {
	text-align: center;
	min-height: 100vh;
}

#article {
	width: 50%;
	margin: auto;
	border-right: 1px solid rgb(90,94,107);
	border-bottom: 1px solid rgb(90,94,107);
	box-shadow: 1px 1px 2px 2px rgb(90,94,107);
}

#photo {
	width: 80%;
}